<h2>Products</h2>
<p>{{ title }}</p>
<p>{{ subTitle }}</p>
<form [formGroup]="productForm" (ngSubmit)="addProduct(productForm.value)">
    <div>
      <label for="title">
        Title
      </label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="body">
        Body
      </label>
      <input id="body" type="text" formControlName="body">
    </div>
    <button type="submit">add product</button>
</form>
<div *ngFor="let product of productsList">
    <h3>
        <a [title]="product.title + ' details'">
          {{ product.title }}
        </a>
    </h3>
    <p *ngIf="product.completed">
        body: {{ product.body }}
    </p>
    <button (click)="removeProduct(product.id)">remove</button>
</div>